.academic__courses__box{
    width: 40%;
    text-align: center;
}

/*Tablet*/
@media screen and (max-width: 768px){
    .academic__courses__box{
        flex-direction: column;
        width: 100%;
    }
    }


/*celular*/
@media screen and (max-width: 0){
    .academic__courses__box{
        flex-direction: column;
        width: 100%;
    }
 }