.about__paragraph{
    font-size: 1.5rem;
}

/*Tablet*/
@media screen and (max-width: 768px){
    .about__paragraph{
        font-size: 1rem;
    }
    }

/*celular*/
@media screen and (max-width: 0){
    .about__paragraph{
        font-size: 1rem;
    }
 }