.hobbies__line{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/*Tablet*/
@media screen and (max-width: 768px){
    .hobbies__line{
        flex-direction: column;
    }
    }


/*celular*/
@media screen and (max-width: 0){
    .hobbies__line{
        flex-direction: column;
    }
 }
