.form__contacto__contacto{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

/*Tablet*/
@media screen and (max-width: 768px){
    .form__contacto__contacto{
        padding-top: 0;
    }
    }


/*celular*/
@media screen and (max-width: 0){
    .form__contacto__contacto{
        padding-top: 0;
    }
 }