.encabezado {
    background-color: #FFF000;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#titulo__formacion{
    font-size: 90px;
    color: black;
    text-align: center;
}

#i__logo{
    width: 200px;
    height: 200px;
    margin: 20px;
}

/*Tablet*/
@media screen and (max-width: 768px){
    #titulo__formacion{
        font-size: 45px;
    }
    #i__logo{
        width: 90px;
        height: 90px;
    }
    }


/*celular*/
@media screen and (max-width: 0){
    #titulo__formacion{
        font-size: 30px;
    }
    #i__logo{
        width: 30px;
        height: 30px;
    }
 }
