.habilidad {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.habilidad h1 {
    text-align: center;
    color: purple;
    font-size: 60px;
}

.logo,
.logo__gyg {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 5px;
}

.habilidad__link {
    font-size: 20px;
    color: purple;
    text-align: center;
}

.otros {
    width: 60px;
    height: 60px;
    margin: 1% 2%;
}

/*Tablet*/
@media screen and (max-width: 768px) {
    .gyg {
        font-size: 30px;
        width: 70%;
    }

}


/*celular*/
@media screen and (max-width: 0) {
    .gyg {
        font-size: 30px;
        width: 70%;
    }
}