.contenido li {

    display: inline-block;
    text-align: center;
    width: 280px;
    height: 300px;
    margin: 20px;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid purple;
    border-radius: 15px;
}

.contenido li:hover {
    border-color: purple;
}

.programas h1 {
    text-align: center;
    color: purple;
}

.contenido h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.contenido li:hover h2 {
    font-size: 33px;
}

.logo__programa {
    width: 150px;
    height: 150px;
}

.contenido {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Tablet*/
@media screen and (max-width: 768px) {
    .contenido {
        flex-direction: column;
    }
}


/*celular*/
@media screen and (max-width: 0) {
    .contenido {
        flex-direction: column;
    }
}