.input {
    position: relative;
}

.formcontato__input {
    padding: 1rem;
    width: 100%;
}

.validar-estado {
    position: absolute;
    font-size: 1rem;
    right: 0;
    color: var(--fiusha);
    opacity: 0;
}
.incorrecto .validar-estado{
    opacity: 1;
}
.correcto .validar-estado{
    opacity: 1;
    color: green;
}

.formcontato__input:hover {
    border-bottom: 2px solid var(--magenta);
}
